<!--The template for navigation bar when a user is logged in -->
<div class="page-header">
    <div class="container" >
        <h1 class="text-center">TRental</h1>
        <ul class="nav nav-pills nav-justified">
            <li id="navHome" role="presentation"><a href="home.html">Home</a></li>
            <li id="navAboutUs" role="presentation"><a href="about-us.html">About Us</a></li>
            <li id="navSearchBooks" role="presentation"><a href="search-books.html">Search Books</a></li>
            <li id="navLogout" role="presentation"><a href="logout">Log Out</a></li>
            <li id="navProfile" role="presentation"><a href="profile.html">Profile</a></li>
        </ul>
    </div>
</div>


<!--Updates which tab is currently selected -->
<script type="text/javascript">
    var url = window.location.pathname;
    var filename = url.substring(url.lastIndexOf('/')+1);
    if (filename == "home.html"){
        $("#navHome").attr("class", "active");
    }
    if (filename == "about-us.html"){
        $("#navAboutUs").attr("class", "active");
    }
    if (filename == "search-books.html"){
        $("#navSearchBooks").attr("class", "active");
    }
    if (filename == "logout.html"){
        $("#navLogout").attr("class", "active");
    }
    if (filename == "profile.html"){
        $("#navProfile").attr("class", "active");
    }
</script>