<!--The template for navigation bar when a user is logged in -->
<span id="selectedTab" style="display:none"><%= tab %></span>
<div class="page-header">
    <div class="container" >
        <h1 class="text-center">TRental</h1>
        <ul class="nav nav-pills nav-justified">
            <li id="navHome" role="presentation"><a href="/home.html">Home</a></li>
            <li id="navAboutUs" role="presentation"><a href="/about-us.html">About Us</a></li>
            <li id="navSearchPostings" role="presentation"><a href="/search-postings.html">Search Postings</a></li>

            <li id="navViewUsers" role="presentation"><a href="/view-users.html">View Users</a></li>

            <li id="navMyAccount" role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    My Account <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li id="navMyProfile" role="presentation"><a href="/my-profile.html">My profile</a></li>
                    <li id="navCreatePosting" role="presentation"><a href="/create-posting.html">Create Posting</a></li>
                    <li id="navMyPostings" role="presentation"><a href="/users/<%= user.id %>/postings.html">My Postings</a></li>
                </ul>
            </li>
            <li id="navInbox" role="presentation"><a href="/user/<%= user.id %>/messages">Inbox </a></li>

            <li id="navLogout" role="presentation"><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</div>


<!--Updates which tab is currently selected -->
<script type="text/javascript">
    var selectedTab = $("#selectedTab").text();
    if (selectedTab == "home"){
        $("#navHome").attr("class", "active");
    }
    if (selectedTab == "about-us"){
        $("#navAboutUs").attr("class", "active");
    }
    if (selectedTab == "search-postings"){
        $("#navSearchPostings").attr("class", "active");
    }
    if (selectedTab == "logout"){
        $("#navLogout").attr("class", "active");
    }
    if (selectedTab == "my-profile"){
        $("#navMyAccount").attr("class", "active");
        $("#navMyProfile").attr("class", "bg-success");
    }
    if (selectedTab == "user-profile"){
        $("#navViewUsers").attr("class", "active");
    }
    if (selectedTab == "create-posting"){
        $("#navMyAccount").attr("class", "active");
        $("#navCreatePosting").attr("class", "bg-success");
    }
    if (selectedTab == "my-postings"){
        $("#navMyAccount").attr("class", "active");
        $("#navMyPostings").attr("class", "bg-success");
    }

    if (selectedTab == "view-users"){
        $("#navViewUsers").attr("class", "active");
    }

    if (selectedTab == "inbox"){
        $("#navInbox").attr("class", "active");
    }
</script>