#header{
    background-color: lightblue;
    border:1px solid black
}
#logo{
    font-size: 25px;
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.hover_no_underline:hover{
    text-decoration:none;
}
