<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>

        <div class="row">
			<div class="col-xs-2"></div>

			<div class="col-xs-1">
				<img src="avatar-blank.jpg" alt="avatar" class="img-thumbnail">
			</div>

			<div class="col-xs-7">
				<form class="form-horizontal">
				</br>
					<div class="form-group">
					    <label class="col-sm-2 control-label">Username:</label>
					    <div class="col-sm-5">
					      <p class="form-control-static">JohnnySmith87</p>
					    </div>
					</div>
					<div class="form-group">
					    <label class="col-sm-2 control-label">Email:</label>
					    <div class="col-sm-5">
					      <p class="form-control-static">example_123@hotmail.com</p>
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputFName3" class="col-sm-2 control-label">First Name:</label>
					    <div class="col-sm-4">
					      <input type="text" class="form-control" id="inputFName3" placeholder="ex. John">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputLName3" class="col-sm-2 control-label">Last Name:</label>
					    <div class="col-sm-4">
					    	<input type="text" class="form-control" id="inputLName3" placeholder="ex. Smith">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputPhoneNum3" class="col-sm-2 control-label">Phone Number:</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="inputPhoneNum3" placeholder="000-000-0000">
					    </div>
					</div>
					<div class="form-group">
					    <label for="inputCountry3" class="col-sm-2 control-label">Country:</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="inputCountry3" placeholder="Canada">
					    </div>
					    <label for="inputCity3" class="col-sm-1 control-label">City:</label>
					    <div class="col-sm-3">
					    	<input type="text" class="form-control" id="inputCity3" placeholder="Toronto">
					    </div>
					</div>
				 	<div class="form-group">
				 		<label for="inlineRadio1" class="col-sm-2 control-label">Gender:</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Male
						</label>
						<label class="radio-inline">
							<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Female
						</label>
					</div>
					<div class="form-group">
						<label for="inputPic" class="col-sm-2 control-label">Profile Picture:</label>
						<div class="col-sm-5">
							<input type="file" name="profilePic" id="inputPic">
						</div>
					</div>
					<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-5">
					     	<button type="submit" class="btn btn-info">Edit</button>
					    </div>
				  	</div>
				</form>
			</div>

			<div class="col-xs-2"></div>
		</div>

        <% include ./partials/footer.ejs %>
    </body>
</html>