<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
        <link rel="stylesheet" type="text/css" href="/css/dropdown.css">

    </head>
    <body>
        <% include ./partials/handle-nav.ejs %>
        <% include ./partials/footer.ejs %>
    </body>
</html>