doctype html
html
	head
		title = A4NetWork
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	body
		.container
			a.navbar-brand(rel='home', href='/users', title='Cool logo')
				img(style='max-width:100px; margin-top: -7px;', src='http://localhost:3000/logo.png')
		block content